In [1]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from datetime import date

In [3]:
#set path 
us_vacc_path = "resources/vaccinations/us_state_vaccinations.csv"
us_path = "resources/2021_US_Region_Mobility_Report.csv"

## Vaccine Data

In [4]:
#store data into pandas dataframe
vacc_df = pd.read_csv(us_vacc_path)
vacc_df = vacc_df[["date", "location", "people_vaccinated", "people_fully_vaccinated"]]
vacc_df

            date location  people_vaccinated  people_fully_vaccinated
0     2021-01-12  Alabama            70861.0                   7270.0
1     2021-01-13  Alabama            74792.0                   9245.0
2     2021-01-14  Alabama            80480.0                      NaN
3     2021-01-15  Alabama            86956.0                  13488.0
4     2021-01-16  Alabama                NaN                      NaN
...          ...      ...                ...                      ...
2813  2021-02-19  Wyoming            87289.0                  36651.0
2814  2021-02-20  Wyoming            89346.0                  39323.0
2815  2021-02-21  Wyoming            89605.0                  39474.0
2816  2021-02-22  Wyoming            91931.0                  43289.0
2817  2021-02-23  Wyoming            92151.0                  43596.0

[2818 rows x 4 columns]

In [5]:
#drop NA colums 
#filter data from 2019 on 
vacc_df = vacc_df.dropna(axis="index")
vacc_df = vacc_df.loc[vacc_df["date"] >= "2019-01-01"]
vacc_df = vacc_df.rename(columns={"location":"state"})
vacc_df

            date    state  people_vaccinated  people_fully_vaccinated
0     2021-01-12  Alabama            70861.0                   7270.0
1     2021-01-13  Alabama            74792.0                   9245.0
3     2021-01-15  Alabama            86956.0                  13488.0
7     2021-01-19  Alabama           114319.0                  16346.0
8     2021-01-20  Alabama           121113.0                  17956.0
...          ...      ...                ...                      ...
2813  2021-02-19  Wyoming            87289.0                  36651.0
2814  2021-02-20  Wyoming            89346.0                  39323.0
2815  2021-02-21  Wyoming            89605.0                  39474.0
2816  2021-02-22  Wyoming            91931.0                  43289.0
2817  2021-02-23  Wyoming            92151.0                  43596.0

[2405 rows x 4 columns]

In [6]:
vacc_df.loc[vacc_df["state"] == "California"]

           date       state  people_vaccinated  people_fully_vaccinated
258  2021-01-12  California           703540.0                 100089.0
259  2021-01-13  California           744545.0                 133689.0
261  2021-01-15  California           865387.0                 204374.0
265  2021-01-19  California          1195969.0                 260838.0
266  2021-01-20  California          1255311.0                 273276.0
267  2021-01-21  California          1335886.0                 293834.0
268  2021-01-22  California          1477195.0                 321839.0
269  2021-01-23  California          1661683.0                 341731.0
270  2021-01-24  California          1838464.0                 356382.0
271  2021-01-25  California          1954048.0                 371482.0
272  2021-01-26  California          2053652.0                 387563.0
273  2021-01-27  California          2156029.0                 417606.0
274  2021-01-28  California          2281453.0                 458585.0
275  2021-01-29  California          2415659.0                 487552.0
276  2021-01-30  California          2563559.0                 524350.0
277  2021-01-31  California          2717530.0                 558977.0
278  2021-02-01  California          2861767.0                 581985.0
279  2021-02-02  California          2940488.0                 592045.0
280  2021-02-03  California          3044980.0                 613845.0
281  2021-02-04  California          3085932.0                 625189.0
282  2021-02-05  California          3228084.0                 675027.0
283  2021-02-06  California          3389906.0                 727993.0
284  2021-02-07  California          3653538.0                 808832.0
285  2021-02-08  California          3811715.0                 847993.0
286  2021-02-09  California          3880253.0                 875340.0
287  2021-02-10  California          3994969.0                 928615.0
288  2021-02-11  California          4108216.0                 990128.0
289  2021-02-12  California          4222810.0                1081040.0
290  2021-02-13  California          4345018.0                1178577.0
291  2021-02-14  California          4493220.0                1287390.0
293  2021-02-16  California          4708607.0                1456222.0
294  2021-02-17  California          4766592.0                1507829.0
295  2021-02-18  California          4865151.0                1581541.0
296  2021-02-19  California          5159868.0                1753917.0
297  2021-02-20  California          5285256.0                1864867.0
298  2021-02-21  California          5426591.0                1974488.0
299  2021-02-22  California          5503523.0                2048326.0
300  2021-02-23  California          5569473.0                2105613.0

In [7]:
vacc_df["state"].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'Bureau of Prisons', 'California', 'Colorado', 'Connecticut',
       'Delaware', 'Dept of Defense', 'District of Columbia',
       'Federated States of Micronesia', 'Florida', 'Georgia', 'Guam',
       'Hawaii', 'Idaho', 'Illinois', 'Indian Health Svc', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Long Term Care', 'Louisiana',
       'Maine', 'Marshall Islands', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York State', 'North Carolina', 'North Dakota',
       'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Republic of Palau', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'United States', 'Utah', 'Vermont', 'Veterans Health',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [8]:
vacc_df = vacc_df.set_index("state")

In [9]:
vacc_df = vacc_df.drop(index=["American Samoa","Bureau of Prisons", "Dept of Defense", "District of Columbia", "Federated States of Micronesia", "Guam",
                   "Indian Health Svc", "Long Term Care", "Marshall Islands","Northern Mariana Islands", "Puerto Rico",
                    "Republic of Palau", "Veterans Health"], axis=0)

vacc_df = vacc_df.reset_index()

vacc_df

        state        date  people_vaccinated  people_fully_vaccinated
0     Alabama  2021-01-12            70861.0                   7270.0
1     Alabama  2021-01-13            74792.0                   9245.0
2     Alabama  2021-01-15            86956.0                  13488.0
3     Alabama  2021-01-19           114319.0                  16346.0
4     Alabama  2021-01-20           121113.0                  17956.0
...       ...         ...                ...                      ...
1959  Wyoming  2021-02-19            87289.0                  36651.0
1960  Wyoming  2021-02-20            89346.0                  39323.0
1961  Wyoming  2021-02-21            89605.0                  39474.0
1962  Wyoming  2021-02-22            91931.0                  43289.0
1963  Wyoming  2021-02-23            92151.0                  43596.0

[1964 rows x 4 columns]

## United States Mobility

In [10]:
us_mobility = pd.read_csv(us_path)

us_mobility = us_mobility[us_mobility['sub_region_2'].isnull()]

us_mobility = us_mobility[us_mobility['sub_region_1'].notnull()]

us_mobility

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
157,US,United States,Alabama,NaN,NaN,US-AL,NaN,ChIJdf5LHzR_hogR6czIUzU0VV4,2021-01-01,-44.0,-30.0,-16.0,-46.0,-72.0,26.0
158,US,United States,Alabama,NaN,NaN,US-AL,NaN,ChIJdf5LHzR_hogR6czIUzU0VV4,2021-01-02,-19.0,-8.0,-2.0,-8.0,-19.0,7.0
159,US,United States,Alabama,NaN,NaN,US-AL,NaN,ChIJdf5LHzR_hogR6czIUzU0VV4,2021-01-03,-16.0,-8.0,-7.0,-1.0,-17.0,6.0
160,US,United States,Alabama,NaN,NaN,US-AL,NaN,ChIJdf5LHzR_hogR6czIUzU0VV4,2021-01-04,-5.0,2.0,-9.0,-9.0,-26.0,8.0
161,US,United States,Alabama,NaN,NaN,US-AL,NaN,ChIJdf5LHzR_hogR6czIUzU0VV4,2021-01-05,-10.0,-1.0,-14.0,-12.0,-25.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405753,US,United States,Wyoming,NaN,NaN,US-WY,NaN,ChIJaS7hSDTiXocRLzh90nkisCY,2021-06-02,16.0,22.0,235.0,30.0,-24.0,0.0
405754,US,United States,Wyoming,NaN,NaN,US-WY,NaN,ChIJaS7hSDTiXocRLzh90nkisCY,2021-06-03,19.0,27.0,240.0,43.0,-24.0,0.0
405755,US,United States,Wyoming,NaN,NaN,US-WY,NaN,ChIJaS7hSDTiXocRLzh90nkisCY,2021-06-04,8.0,22.0,220.0,55.0,-23.0,1.0
405756,US,United States,Wyoming,NaN,NaN,US-WY,NaN,ChIJaS7hSDTiXocRLzh90nkisCY,2021-06-05,9.0,21.0,248.0,57.0,-11.0,-3.0
405757,US,United States,Wyoming,NaN,NaN,US-WY,NaN,ChIJaS7hSDTiXocRLzh90nkisCY,2021-06-06,25.0,20.0,242.0,53.0,-9.0,-3.0

In [11]:
us_mobility = us_mobility[["sub_region_1", "date", "retail_and_recreation_percent_change_from_baseline",
                          "grocery_and_pharmacy_percent_change_from_baseline", "parks_percent_change_from_baseline",
                          "transit_stations_percent_change_from_baseline", "workplaces_percent_change_from_baseline",
                          "residential_percent_change_from_baseline"]]
us_mobility = us_mobility.dropna()

us_mobility = us_mobility.rename(columns={"sub_region_1":"state","retail_and_recreation_percent_change_from_baseline":"retail_and_rec_percent_change",
                                "grocery_and_pharmacy_percent_change_from_baseline":"grocery_and_pharmacy_percent_change",
                                "parks_percent_change_from_baseline":"parks_percent_change","transit_stations_percent_change_from_baseline":
                                "transit_stations_percent_change", "workplaces_percent_change_from_baseline":"workplace_percent_change",
                                "residential_percent_change_from_baseline":"residential_percent_change"})
us_mobility

,state,date,retail_and_rec_percent_change,grocery_and_pharmacy_percent_change,parks_percent_change,transit_stations_percent_change,workplace_percent_change,residential_percent_change
157,Alabama,2021-01-01,-44.0,-30.0,-16.0,-46.0,-72.0,26.0
158,Alabama,2021-01-02,-19.0,-8.0,-2.0,-8.0,-19.0,7.0
159,Alabama,2021-01-03,-16.0,-8.0,-7.0,-1.0,-17.0,6.0
160,Alabama,2021-01-04,-5.0,2.0,-9.0,-9.0,-26.0,8.0
161,Alabama,2021-01-05,-10.0,-1.0,-14.0,-12.0,-25.0,8.0
...,...,...,...,...,...,...,...,...
405753,Wyoming,2021-06-02,16.0,22.0,235.0,30.0,-24.0,0.0
405754,Wyoming,2021-06-03,19.0,27.0,240.0,43.0,-24.0,0.0
405755,Wyoming,2021-06-04,8.0,22.0,220.0,55.0,-23.0,1.0
405756,Wyoming,2021-06-05,9.0,21.0,248.0,57.0,-11.0,-3.0
405757,Wyoming,2021-06-06,25.0,20.0,242.0,53.0,-9.0,-3.0

In [12]:
us_mobility.loc[(us_mobility["state"] == "California") & (us_mobility["date"] == "2021-01-01")]
us_mobility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7984 entries, 157 to 405757
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   state                                7984 non-null   object
 1   date                                 7984 non-null   object
 2   retail_and_rec_percent_change        7984 non-null   float64
 3   grocery_and_pharmacy_percent_change  7984 non-null   float64
 4   parks_percent_change                 7984 non-null   float64
 5   transit_stations_percent_change      7984 non-null   float64
 6   workplace_percent_change             7984 non-null   float64
 7   residential_percent_change           7984 non-null   float64
dtypes: float64(6), object(2)
memory usage: 561.4+ KB

## Load csv to SQL database

In [13]:
#connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [15]:
#chrck for tables
engine.table_names()

<ipython-input-15-7fadd471797d>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['vaccinations', 'us_mobility_2021']

In [16]:
vacc_df.to_sql(name="vaccinations", con=engine, if_exists="append", index=False)

In [17]:
us_mobility.to_sql(name="us_mobility_2021", con=engine, if_exists="append",index=False)